#footer2 {
  display: flex;
  background-color: #fff;
  height: 250px;
  padding: 20px;
  justify-content: space-around;
  border: 1px solid rgba(0, 0, 0, 0.47);
  margin-top: 50px;
  #footerd1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    width: 30%;
    .fa-react {
      font-size: 50px;
      cursor: pointer;
      color: var(--primary-color);
    }
    .fa-react:hover {
      transform: scale(1.02);
      transition: all ease 1s;
    }
    h1 {
      font-size: 20px;
      color: var(--primary-color);
    }
    p {
      color: var(--primary-color);
      font-weight: 500;
    }
    .fa-heart:hover {
      color: rgb(255, 121, 144);
    }
    .fa-screwdriver:hover {
      color: rgb(46, 46, 46);
    }
  }
  #footerd2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    height: 120px;
    a {
      font-family: "Inter";
      text-decoration: none;
      color: var(--primary-color);
      position: relative;
      text-decoration: none;
      font-weight: 500;
    }
    a::before {
      content: "";
      position: absolute;
      bottom: -2px;
      left: 0;
      width: 0;
      height: 2px;
      background-color: var(--primary-color);
      transition: width 0.3s ease;
    }

    a:hover::before {
      width: 100%;
      left: 0;
    }
  }
  #footerd3 {
    display: flex;

    height: 100px;
    align-items: center;
    justify-content: center;

    input {
      height: 40px;
      width: 140px;
      border-radius: 6px 0 0 6px;
      padding: 0;
      padding-left: 5px;
      border-right: 0;
      outline: none;
      border-color: rgba(0, 0, 0, 0.621);
    }

    button {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 95px;
      height: 43px;
      border-radius: 10px;
      border: none;
      color: #fff;
      font-size: 14px;
      font-weight: 500;
      cursor: pointer;
      background-color: var(--primary-color);
      border-radius: 0 6px 6px 0;
    }
    button:hover {
      transform: scale(1.005);
      transition: all ease-in-out 0.3s;
      opacity: 0.8;
    }
  }

  @media (max-width: 850px) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 30px;

    height: auto;
    row-gap: 40px;
    #footerd1 {
      width: auto;
      grid-column: 1/3;
    }
    #footerd2 {
      grid-column: 1/2;
      align-items: center;
    }
    #footerd3 {
      grid-column: 2/4;
      display: flex;
      flex-direction: row;
      height: auto;
    }
  }
  @media (max-width: 550px) {
    #footerd1 {
      width: auto;
      grid-column: 1/4;
    }
    #footerd2 {
      grid-column: 1/4;
      align-items: center;
    }
    #footerd3 {
      grid-column: 1/4;
      display: flex;
      flex-direction: row;
      height: auto;
    }
  }
}
