:root {
  max-width: 1600px;
  margin: 0 auto;
  --primary: #2683ff; //primary color
  --primary-color: #2683ff; // for template pages
  --secondary: #046380; // secondary color
  --danger-color: #dc3545;
  --success-color: #28a745;
}

/*---------------------------- CSS CODE START FOR USER:LOGIN PAGE----------------- */
/***********************************************************************************/
.line {
  background: linear-gradient(
    90deg,
    rgba(155, 171, 191, 0) 1.04%,
    #9babbf 51.56%,
    rgba(155, 171, 191, 0) 100%
  );
  width: 95%;
  height: 1.5px;
  margin-bottom: 15px;
}
.mainloginDiv {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0;

  .bigDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 528px;

    @media only screen and (max-width: 1400px) and (min-width: 1000px) {
      width: 428px;
    }
    @media (max-width: 540px) {
      width: 85%;
    }
    @media (max-width: 480px) {
      width: 95%;
    }
    .circleDiv {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      top: 60px;
      padding: 30px;
      margin: 0 auto;
      border-radius: 50%;
      box-shadow: 0px -20px 20px rgb(0 0 0 / 8%);
      background-color: white;
      z-index: 99;
      .circleDiv2 {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 108px;
        height: 108px;
        border: 1px solid var(--primary);
        border-radius: 50%;
        z-index: 999;
        @media only screen and (max-width: 1400px) and (min-width: 1000px) {
          width: 95px;
          height: 95px;
        }
        @media (max-width: 540px) {
          width: 90px;
          height: 90px;
        }
        .circleDiv2pic {
          /*   filter: invert(46%) sepia(68%) saturate(2830%) hue-rotate(332deg)
            brightness(91%) contrast(102%); */
          color: var(--primary);
          font-size: 50px;
          @media (max-width: 540px) {
            /*      width: 60px;
            height: 60px; */
          }
        }
      }
      @media (max-width: 540px) {
        padding: 22px;
      }
      @media (max-width: 320px) {
        padding: 20px;
      }
    }

    .smallDiv {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 528px;
      // height: 356px;
      background: #ffffff;
      box-shadow: 0px 0px 18px rgba(0, 0, 0, 0.25);
      z-index: 2;
      border-radius: 6px;
      justify-content: space-evenly;
      padding-top: 50px;
      @media only screen and (max-width: 1400px) and (min-width: 1000px) {
        width: 428px;
      }
      @media (max-width: 540px) {
        width: 100%;
      }

      .input-container {
        display: flex;
        width: 426px;
        height: 58px;
        background: #ebeaea;
        border-radius: 5px;
        margin: 10px 0;
        @media only screen and (max-width: 1400px) and (min-width: 1000px) {
          width: 350px;
          height: 43px;
        }
        @media (max-width: 540px) {
          width: 85%;
        }
        .inputimgback {
          display: flex;
          background-color: var(--primary);
          align-items: center;
          justify-content: center;
          width: 54px;
          height: 58px;
          border-radius: 5px 0px 0px 5px;
          @media only screen and (max-width: 1400px) and (min-width: 1000px) {
            height: 43px;
            width: 50px;
          }
        }
        .inputimg {
          font-size: 26px;
          color: #ffffff;
        }
        .input-field {
          width: 100%;
          background: #ebeaea;
          border: 0px;
          font-size: 20px;
          font-family: "Inter";
          @media only screen and (max-width: 1400px) and (min-width: 1000px) {
            font-size: 17px;
          }
          padding-left: 15px;
        }
        .input-field:focus {
          outline: none;
        }
        ::placeholder {
          font-family: "Inter";
          font-weight: 400;
          font-size: 20px;
          color: #937a7a;
          //   padding-left: 30px;
          @media only screen and (max-width: 1400px) and (min-width: 1000px) {
            font-size: 17px;
          }
        }
      }
      .check-container {
        display: flex;
        width: 426px;
        justify-content: space-between;
        padding-bottom: 10px;
        align-items: center;
        margin-top: 10px;

        @media only screen and (max-width: 1400px) and (min-width: 1000px) {
          width: 350px;
        }
        @media (max-width: 540px) {
          width: 85%;
        }
        .form-check-input {
          height: 14px;
          width: 14px;
        }
        .checkp {
          font-family: "Inter";
          font-weight: 300;
          font-size: 13px;
          color: #464646;
          margin-top: 0;
          margin-left: 8px;
          margin-bottom: 0;
        }
        .checkp2 {
          font-family: "Inter";
          font-style: normal;
          font-weight: 600;
          font-size: 13px;
          color: var(--primary);
          text-decoration: none;
        }
        .css-12wnr2w-MuiButtonBase-root-MuiCheckbox-root.Mui-checked,
        .css-12wnr2w-MuiButtonBase-root-MuiCheckbox-root.MuiCheckbox-indeterminate {
          color: var(--primary);
        }
      }
    }
  }
  .l1 {
    text-decoration: none;
  }
  .btn1 {
    width: 198px;
    height: 59px;
    background: var(--primary);
    color: #ffffff;
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 24px;

    border-radius: 6px;
    border: 0;
    cursor: pointer;
    @media only screen and (max-width: 1400px) and (min-width: 1000px) {
      width: 170px !important;
    }
  }
  .btn1:hover {
    color: var(--primary);
    background-color: #fff;
    border: 1px solid var(--primary);
    transition: all ease 0.3s;
  }
  .mainDivp1 {
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    color: #473d3d;
  }
  .mainimgDiv {
    display: flex;
    width: 150px;
    margin-bottom: 50px;
    justify-content: space-around;
    .imgDiv {
      width: 62px;
      height: 50px;
      background: #c54238;
      border-radius: 25px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      @media only screen and (max-width: 1400px) and (min-width: 1000px) {
        width: 52px !important;
        height: 40px !important;
      }
      .endimg {
        width: 32px;
        height: 32px;
        @media only screen and (max-width: 1400px) and (min-width: 1000px) {
          width: 25px !important;
          height: 25px !important;
        }
      }
    }
  }
}

/*---------------------------- CSS CODE END FOR USER:LOGIN PAGE-------------------------- */

/*---------------------------- CSS CODE START FOR USER:Navbar Component----------------- */
/***********************************************************************************/
#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  background-color: var(--primary);
  border-bottom: 1px solid rgba(255, 255, 255, 0.47);
  box-shadow: 0px 1px 5px 0px #000;
  padding: 20px 10px 10px 10px;
  position: sticky;
  top: 0;
  z-index: 100;
  img {
    height: 30px;
    cursor: pointer;
  }
  img:hover {
    transform: scale(1.02);
    transition: transform ease 1s;
  }
  #linkdiv {
    width: 250px;
    display: flex;
    justify-content: space-between;
    a {
      font-family: "Inter";
      text-decoration: none;
      color: #fff;
      position: relative;
      text-decoration: none;
    }
    a::before {
      content: "";
      position: absolute;
      bottom: -2px;
      left: 0;
      width: 0;
      height: 2px;
      background-color: #fff; /* Change this to your desired underline color */
      transition: width 0.3s ease;
    }

    a:hover::before {
      width: 100%;
      left: 0;
    }
  }
  .fa-bars {
    font-size: 25px;
    cursor: pointer;
  }
  #mobilelinkdiv {
    display: flex;
    flex-direction: column;
    list-style: none;
    background-color: var(--primary);
    padding: 10px;
    border-radius: 4px;
    height: 120px;
    position: absolute;
    right: 30px;
    top: 75px;
    justify-content: space-between;
    a {
      font-family: "Inter";
      text-decoration: none;
      color: #fff;
      position: relative;
      text-decoration: none;
    }
    a::before {
      content: "";
      position: absolute;
      bottom: -2px;
      left: 0;
      width: 0;
      height: 2px;
      background-color: #fff; /* Change this to your desired underline color */
      transition: width 0.3s ease;
    }

    a:hover::before {
      width: 100%;
      left: 0;
    }
  }

  button {
    display: flex;
    align-items: center;
    width: 155px;
    height: 50px;
    border-radius: 10px;
    border: 2px solid #fff;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    background-color: transparent;
    .githubimg {
      font-size: 28px;
    }
    p {
      font-family: "Inter";
      margin: 0 5px 0 20px;
    }
  }
  button:hover {
    color: var(--primary);
    background-color: #fff;
    transition: all ease 0.3s;
    img path {
      fill: var(--primary);
    }
  }
  .btnimg {
    transition: opacity 0.5s ease;
    animation: moveAndFade 1.5s infinite;
    font-size: 20px;
  }
  .btn:hover > .btnimg {
    color: #000;
  }
  @keyframes moveAndFade {
    0% {
      opacity: 1;
      transform: translateX(0);
    }
    25% {
      opacity: 1;
      transform: translateX(100%);
    }
    50% {
      opacity: 0;
      transform: translateX(100%);
    }
    75% {
      opacity: 0;
      transform: translateX(0);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  .dpdiv {
    display: flex;
    flex-direction: row-reverse;

    height: 45px;

    img {
      height: inherit;
      border-radius: 50%;
      border: 1px solid #fff;
    }
  }
  .logoutdiv {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    width: 80px;
    height: 40px;
    border-radius: 6px;
    margin-right: 10px;
    a {
      font-family: "Inter";
      text-decoration: none;
      color: var(--primary);
      position: relative;
      text-decoration: none;
    }
    a::before {
      content: "";
      position: absolute;
      bottom: -2px;
      left: 0;
      width: 0;
      height: 2px;
      background-color: var(--primary);
      transition: width 0.3s ease;
    }

    a:hover::before {
      width: 100%;
      left: 0;
    }
  }
}
/*---------------------------- CSS CODE END FOR USER:Navbar Component-------------------------- */

/*---------------------------- CSS CODE START FOR USER:Footer Component----------------- */
/***********************************************************************************/

#footermine {
  display: flex;
  background-color: var(--primary);
  height: 250px;
  padding: 20px;
  justify-content: space-around;
  #footerd1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    width: 30%;
    img {
      height: 30px;
      cursor: pointer;
    }
    img:hover {
      transform: scale(1.02);
      transition: all ease 1s;
    }
    h1 {
      font-size: 20px;
    }
    .fa-heart:hover {
      color: rgb(255, 121, 144);
    }
    .fa-screwdriver:hover {
      color: rgb(46, 46, 46);
    }
  }
  #footerd2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    height: 120px;
    a {
      font-family: "Inter";
      text-decoration: none;
      color: #fff;
      position: relative;
      text-decoration: none;
    }
    a::before {
      content: "";
      position: absolute;
      bottom: -2px;
      left: 0;
      width: 0;
      height: 2px;
      background-color: #fff;
      transition: width 0.3s ease;
    }

    a:hover::before {
      width: 100%;
      left: 0;
    }
  }
  #footerd3 {
    display: flex;
    flex-direction: column;
    height: 190px;
    justify-content: space-between;
    h1 {
      font-size: 18px;
    }
    button {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 155px;
      height: 50px;
      border-radius: 10px;
      border: none;
      color: #fff;
      font-size: 16px;
      font-weight: 600;
      cursor: pointer;
      background-color: transparent;
      .githubimg {
        font-size: 28px;
        margin-right: 10px;
      }
    }

    #gitbtn {
      background-color: rgb(82, 82, 82);
      margin-top: 5px;
    }
    #gitbtn:hover {
      color: rgb(82, 82, 82);
      background-color: #fff;
      transition: all ease-in-out 0.3s;
      img path {
        fill: rgb(82, 82, 82);
      }
    }
    #netbtn {
      padding: 25px;
      background-color: #fff;
      border: 1px solid #fff;
      margin-top: 5px;
    }
    #netbtn:hover {
      background-color: rgb(255, 255, 255, 0.7);
      transition: all ease-in-out 0.3s;
    }
  }

  @media (max-width: 850px) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 30px;

    height: auto;
    row-gap: 40px;
    #footerd1 {
      width: auto;
      grid-column: 1/3;
    }
    #footerd3 {
      grid-column: 1/3;
      display: flex;
      flex-direction: row;
      height: auto;
    }
  }
  @media (max-width: 550px) {
    #footerd1 {
      width: auto;
      grid-column: 1/4;
    }
    #footerd2 {
      grid-column: 1/4;
      align-items: center;
    }
    #footerd3 {
      grid-column: 1/4;
      display: flex;
      flex-direction: row;
      height: auto;
    }
  }
  @media (max-width: 370px) {
    #footerd3 {
      flex-direction: column;
    }
  }
}

/*---------------------------- CSS CODE END FOR USER:Footer Component-------------------------- */

/*---------------------------- CSS CODE START FOR USER:Contact Component----------------- */
/***********************************************************************************/
#contact {
  display: flex;
  flex-direction: column;
  width: 300px;

  position: fixed;
  bottom: 30px;
  right: 30px;
  background-color: var(--primary);
  transition: all ease 0.3s;
  border-radius: 8px;
  z-index: 100;
  padding: 10px;
  justify-content: space-around;
  #headingdiv {
    width: 90%;
    align-self: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    h1 {
      font-size: 25px;
      font-weight: 600;
      text-align: start !important;
    }
    .crossIcon {
      color: #fff;
      font-size: 30px;
      cursor: pointer;
      align-self: baseline;
    }
    .crossIcon:hover {
      transition: all ease 0.2s;
      transform: scale(1.1);
    }
  }

  #contactd1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    width: 90%;
    input {
      margin-bottom: 15px;
      width: 100%;
      height: 35px;
      border-radius: 6px;
      border: 0;
      color: rgb(57, 57, 57);
      font-family: "Inter";
      font-weight: 500;
      padding: 5px;
    }

    textarea {
      width: 100%;
      border-radius: 6px;
      color: rgb(57, 57, 57);
      font-size: 14px;
      font-family: "Inter";
      font-weight: 500;
      padding: 5px;
      resize: none;
    }
  }
  button {
    width: 120px;
    height: 35px;
    border-radius: 6px;
    border: none;
    background-color: #fff;
    color: var(--primary);
    font-weight: 600;
    font-size: 16px;
    align-self: self-end;
    margin-top: 15px;
    cursor: pointer;
  }
  button:hover {
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
    transition: all ease 0.2s;
  }
}
#messageIconDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  background-color: #fff;
  box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  border-radius: 50%;
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 100;
  .messageIcon {
    color: var(--primary);
    font-size: 30px;
  }
}
#messageIconDiv:hover {
  transition: all ease 0.2s;
  transform: scale(1.1);
}
/*---------------------------- CSS CODE END FOR USER:Contact Component-------------------------- */

/*---------------------------- CSS CODE START FOR USER:Home PAGE----------------- */
/***********************************************************************************/
#home {
  display: flex;
  flex-direction: column;
  padding: 20px 10px 10px 10px;
  #homed1 {
    display: flex;
    div {
      display: flex;
      flex-direction: column;
      width: 50%;
      align-items: center;
      justify-content: center;
    }
    h1 {
      font-family: "Inter";
      font-size: 40px;
      color: var(--primary);
      margin: 0;
    }
    .fa-circle-down {
      color: var(--primary);
      font-size: 30px;
      animation: slideDown 1.5s infinite;
      cursor: pointer;
    }
    #homed1h1 {
      margin-right: 200px;
    }
    #homed1h2 {
      margin-right: 150px;
    }
    #screenimg {
      width: 500px;
      height: 500px;
      margin: 0 auto;
      border-radius: 50%;
      border: 2px solid var(--secondary);
      transform: rotate(0deg);
      transition: transform 4s ease;
      @media (max-width: 1000px) {
        width: 50%;
        height: 50%;
      }
    }
    #screenimg:hover {
      transform: rotate(360deg);
    }
    #homed1span {
      margin-top: 10px;
      margin-left: auto;
      #homed1spanp1 {
        color: var(--primary);
        margin: 0;
        font-size: 20px;
        font-weight: 600;
      }
      #homed1spanp2 {
        color: rgb(110, 110, 110);
        margin: 0;
      }
    }
  }
  #homed2 {
    padding: 10px 10px 25px 10px;
    margin: 50px 0 50px 0;
    display: flex;
    flex-direction: column;
    background: #ffffff;
    box-shadow: 0px 0px 12px rgb(0 0 0 / 25%);
    .homed2h1 {
      font-family: "Inter";
      font-size: 30px;
      font-weight: 700;
      color: var(--primary);
      margin-left: 10px;
    }
    .homed2btn {
      width: 180px;
      height: 60px;
      font-size: 20px;
      font-weight: 500;
      color: #ffffff;
      background: var(--primary);
      border: 1px solid;
      border-radius: 8px;
      margin: 30px 0 0 20px;
      text-decoration: none;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: auto;
      margin-right: 20px;
      cursor: pointer;
      @media (max-width: 480px) {
        align-self: center;
      }
    }
    .homed2btn:hover {
      background-color: #fff;
      border: 1.5px solid var(--primary);
      color: var(--primary);
      transition: all ease 0.3s;
    }

    .homed2section {
      display: flex;
      padding: 10px;
      margin-top: 20px;
      align-items: center;
      @media (max-width: 350px) {
        flex-direction: column;
      }
      .homed2pic {
        color: var(--primary);
        font-size: 4rem;
        width: 5rem;

        @media (max-width: 350px) {
          align-self: center;
        }
      }
      .homed2sectiond1 {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-left: 25px;
        @media (max-width: 350px) {
          align-items: center;
        }
        .homed2sectionh1 {
          font-family: "Inter";
          font-size: 20px;
          font-weight: 600;
          color: var(--primary);
          margin: 10px 0 0 0;
        }
        .homed2sectionp1 {
          font-family: "Inter";
          font-size: 20px;
          color: rgb(110, 110, 110);
          margin: 0;
          @media (max-width: 350px) {
            text-align: center;
          }
        }
      }
    }
  }
  @media (max-width: 768px) {
    #homed1 {
      h1 {
        font-size: 30px;
      }
    }
  }
}

@keyframes slideDown {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  25% {
    opacity: 1;
    transform: translateY(20%);
  }
  50% {
    opacity: 1;
    transform: translateY(20%);
  }
  75% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
/*---------------------------- CSS CODE END FOR USER:Home PAGE-------------------------- */

/*---------------------------- CSS CODE START FOR USER:Templates PAGE----------------- */
/***********************************************************************************/
#templates {
  display: flex;
  flex-direction: column;
  padding: 20px;

  h1 {
    color: var(--primary);
    font-size: 22px;
    margin-top: 20px;
  }
  #templatesd1 {
    display: flex;
    height: 200px;
    padding: 10px;
    border-radius: 6px;
    margin-top: 10px;

    opacity: 0.6;
    p {
      color: var(--primary);
      font-weight: 700;
      font-size: 20px;
    }
    .fa-ellipsis {
      font-size: 30px;
      margin-left: 10px;
    }
    .fa-ghost {
      font-size: 100px;
      align-self: center;
      animation: ghostmode 15s infinite;
      color: var(--primary);
    }
  }
  .finishbtn {
    width: 250px;
    height: 50px;
    background-color: var(--primary);
    border: 0;
    border-radius: 6px;
    color: #fff;
    font-size: 20px;
    margin-top: 20px;
    align-self: center;

    cursor: pointer;
  }
  .finishbtn:hover {
    background-color: #fff;
    color: var(--primary);
    border: 1px solid var(--primary);
    transition: all ease-in-out 0.2s;
  }
  #modal {
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 400px;

    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0px 0px 5px 0px #000;
    position: fixed;
    top: 30%;
    left: 35%;
    .startimg {
      display: flex;
      justify-content: space-between;
      margin-bottom: 15px;
    }
    .fa-github {
      color: #000;
      font-size: 26px;
    }
    .fa-xmark {
      color: var(--primary);
      font-size: 26px;

      cursor: pointer;
    }
    .fa-xmark:hover {
      transform: scale(1.1);
      transition: all ease-in-out 0.2s;
    }
    form {
      display: flex;
      flex-direction: column;
      .radiolabel {
        color: rgb(110, 110, 110);
        cursor: pointer;
      }
      input[type="text"] {
        height: 35px;
        border-radius: 6px;
        border: 1px solid rgba(0, 0, 0, 0.644);
        padding: 0 5px 0 5px;
        margin-top: 15px;
      }
      input[type="radio"] {
        cursor: pointer;
      }
      button {
        width: 150px;
        height: 35px;
        font-size: 16px;
        border: 0;
        background-color: var(--primary);
        color: #fff;
        border-radius: 6px;
        margin: 15px 0 10px 0;
        align-self: flex-end;
        cursor: pointer;
      }
      button:hover {
        border: 1px solid var(--primary);
        background-color: #fff;
        color: var(--primary);
        transition: all ease-in-out 0.2s;
      }
    }
  }
  #loadingModal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 400px;
    height: 200px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0px 0px 5px 0px rgb(0, 0, 0, 0.7);
    padding-bottom: 30px;
    position: fixed;
    top: 30%;
    left: 35%;
    #netbtn {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 155px;
      height: 50px;
      border-radius: 10px;
      border: none;
      color: #fff;
      font-size: 16px;
      font-weight: 600;
      margin-top: 10px;
      cursor: pointer;
      padding: 25px;
      background-color: #fff;
      border: 1px solid var(--primary);
      box-shadow: 0px 0px 3px 1px var(--primary);
    }
    #netbtn:hover {
      background-color: transparent;
      box-shadow: 0px 0px 5px 3px var(--primary);

      transition: all ease-in-out 0.3s;
    }
    .fa-circle-check {
      font-size: 40px;
      color: var(--success-color);
    }
    #netlifydiv {
      display: flex;
      flex-direction: column;
      form {
        display: flex;
        flex-direction: column;
        align-items: center;
        .radiolabel {
          color: rgb(110, 110, 110);
          cursor: pointer;
        }
        input[type="text"] {
          width: 180px;
          height: 35px;
          border-radius: 6px;
          border: 1px solid rgba(0, 0, 0, 0.644);
          padding: 0 5px 0 5px;
        }
        button {
          width: 120px;
          height: 35px;
          font-size: 16px;
          border: 0;
          background-color: var(--primary);
          color: #fff;
          border-radius: 6px;
          margin: 15px 0 10px 0;
          cursor: pointer;
        }
        button:hover {
          border: 1px solid var(--primary);
          background-color: #fff;
          color: var(--primary);
          transition: all linear 0.2s;
        }
      }
    }
    .startimg {
      display: flex;
      justify-content: space-between;
      align-self: center;
      align-items: center;
      width: 95%;
      .fa-xmark {
        color: var(--primary);
        font-size: 26px;

        margin-right: 20px;
        cursor: pointer;
      }
      .fa-xmark:hover {
        transform: scale(1.1);
        transition: all ease-in-out 0.2s;
      }
      #netlifyimg {
        height: 60px;
      }
    }
    p {
      color: #494949;
      width: 90%;
      margin-bottom: 20px;
      a {
        text-decoration: none;
        line-break: anywhere;
      }
    }
    #warningp {
      color: rgba(255, 0, 0, 0.793);
      width: auto;
    }
  }
  .loadingModalh1 {
    color: var(--primary);
    font-size: 20px;
    margin: 0;
    text-align: center;
    margin-bottom: 20px;
  }
}
@keyframes ghostmode {
  0% {
    transform: translateX(0) scaleX(-1);
  }
  10% {
    transform: translateX(0) scaleX(1);
  }

  75% {
    transform: translateX(600px);
  }
  80% {
    transform: translateX(600px) scaleX(-1);
  }
  100% {
    transform: translateX(0) scaleX(-1);
  }
}
/*---------------------------- CSS CODE END FOR USER:Templates PAGE-------------------------- */

/*---------------------------- CSS CODE START FOR USER:TemplatesList Component----------------- */
/***********************************************************************************/
#templateList {
  display: flex;
  background: rgb(0, 0, 0, 0.1);
  height: 250px;
  padding: 15px;
  border-radius: 6px;
  margin-top: 5px;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.4);
  overflow-x: auto;
  #templatelistd1 {
    background-color: #fff;
    width: 450px;
    display: flex;
    margin-right: 20px;
    border-radius: 6px;
    box-shadow: 0px 0px 2px 1px var(--primary);
    img {
      width: inherit;
      border-radius: 6px;
      cursor: pointer;
    }
    img:hover {
      transform: scale(1.02);
      box-shadow: 0px 0px 2px 1px var(--primary);

      transition: all ease 0.3s;
    }
  }
}
#templateListLong {
  display: flex;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.1);
  height: 250px;
  padding: 15px;
  border-radius: 6px;
  margin: 20px 0 20px 0;
  overflow-y: auto;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.4);
  #templatelistd1 {
    background-color: #fff;
    margin-bottom: 30px;
    border-radius: 6px;
    box-shadow: 0px 0px 2px 1px var(--primary);
    cursor: pointer;
    img {
      width: 100%;
    }
  }
  #templatelistd1:hover {
    transform: scale(1.01);
    box-shadow: 0px 0px 2px 1px var(--primary);
    transition: all ease 0.3s;
  }
}
/*---------------------------- CSS CODE END FOR USER:TemplatesList Component-------------------------- */

/*---------------------------- CSS CODE START FOR USER:TemplatesListScroll Component----------------- */
/***********************************************************************************/
#templateListScroll {
  display: flex;
  flex-direction: column;
  background: rgb(0, 0, 0, 0.1);
  height: 250px;
  padding: 15px;
  border-radius: 6px;
  margin-top: 5px;
  overflow-y: auto;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.4);
  #templatelistd1 {
    background-color: #fff;
    width: 100%;
    display: flex;
    height: 150px;
    border-radius: 6px;
    box-shadow: 0px 0px 2px 1px var(--primary);
    margin-bottom: 50px;
    img {
      width: inherit;
      border-radius: 6px;
      cursor: pointer;
    }
    img:hover {
      transform: scale(1.01);
      box-shadow: 0px 0px 2px 1px var(--primary);

      transition: all ease 0.3s;
    }
  }
}
/*---------------------------- CSS CODE END FOR USER:TemplatesListScroll Component-------------------------- */

/*---------------------------- CSS CODE START FOR USER:Spinner Component----------------- */
/***********************************************************************************/

.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 100000;
}
.fa-gear {
  animation: spin 2s infinite linear;
  color: var(--primary);
  font-size: 50px;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/*---------------------------- CSS CODE END FOR USER:Spinner Component-------------------------- */

/*---------------------------- CSS CODE START FOR USER:Alert Component----------------- */
/***********************************************************************************/
#alert {
  display: flex;
  z-index: 1000;
  background-color: #fff;
  position: fixed;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 6px;
  align-items: center;
  min-width: 220px;
  max-width: 250px;
  min-height: 40px;
  padding: 10px;
  justify-content: space-between;
  opacity: 0;
  transition: all ease-in-out 0.5s;
  #message {
    color: rgb(72, 72, 72);
  }
  .icon {
    color: var(--primary);
    font-size: 30px;
  }
}

/*---------------------------- CSS CODE END FOR USER:Alert Component-------------------------- */

/*---------------------------- CSS CODE START FOR USER:Next Component----------------- */
/***********************************************************************************/
.next {
  display: flex;
  position: fixed;
  right: 30px;
  top: 50%;
  font-size: 40px;
  border-radius: 50%;
  background-color: #fff;
  z-index: 1000;
  animation: slideRight 1.5s infinite;
  cursor: pointer;
  .arrow {
    color: var(--primary);
  }
}

@keyframes slideRight {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  25% {
    opacity: 1;
    transform: translateX(20%);
  }
  50% {
    opacity: 1;
    transform: translateX(20%);
  }
  75% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
/*---------------------------- CSS CODE END FOR USER:Next Component-------------------------- */

/*---------------------------- CSS CODE START FOR USER:Customizer Component----------------- */
/***********************************************************************************/
#customizer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border: 1px solid gray;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 20%;
  transition: transform 0.2s;
  z-index: 10000;

  .colorDiv {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;

    .sketchPickerClass {
      position: absolute;
      top: 20px;
      left: 20px;
      button {
        width: 100%;
        height: 30px;
        border: 0;
        border-radius: 0px 0px 4px 4px;
        background-color: var(--primary);
        color: #fff;
        font-weight: 500;
        cursor: pointer;
      }
    }
  }
}

/*---------------------------- CSS CODE END FOR USER:Customizer Component-------------------------- */

::-webkit-scrollbar {
  width: 5px;
  height: 3px;
}

::-webkit-scrollbar-thumb {
  background: var(--primary);
}
