#header3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.47);
  padding: 20px 10px 10px 10px;
  .inputDiv {
    display: flex;
    align-items: center;
    margin-left: 30px;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.312);
    min-width: 125px;

    @media (max-width: 630px) {
      width: auto;
      margin-right: 10px;
    }
    .imgSpan {
      display: flex;
      width: 50px;
      height: 100%;
      align-items: center;
      justify-content: center;
      border-radius: 4px 0 0 4px;
    }
    .img {
      font-size: 20px;
      color: rgba(0, 0, 0, 0.54);
    }
  }

  .inputDiv:hover {
    border-color: rgba(0, 0, 0, 0.76);
  }
  .input-field:focus {
    border-color: rgba(0, 0, 0, 0.76);
  }
  .input-field {
    width: 100%;
    height: 45px;
    font-size: 16px;
    border-radius: 0px 4px 4px 0;
    color: rgba(0, 0, 0, 0.87);
    outline: none;
    border-color: rgba(0, 0, 0, 0.112);
    border: 0;
  }
  .input-field::placeholder {
    color: rgba(0, 0, 0, 0.386);
  }
  .fa-react {
    font-size: 40px;
    color: var(--primary-color);
    cursor: pointer;
  }
  #iconDiv {
    width: 130px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: auto;
    margin-right: 25px;
    @media (max-width: 480px) {
      display: none;
    }
    .ficon {
      font-size: 25px;
      color: var(--primary-color);
      @media (max-width: 630px) {
        width: auto;
        margin-right: 15px;
      }
    }
  }
  #iconmobileDiv {
    display: flex;
    flex-direction: column;
    height: 150px;
    list-style: none;
    background-color: var(--primary);
    padding: 10px;
    border-radius: 4px;
    position: absolute;
    right: 50px;
    top: 70px;
    justify-content: space-between;
    align-items: center;
    .ficon {
      font-size: 25px;
      color: #fff;
      cursor: pointer;
    }

    button {
      width: 110px;
      height: 45px;
      background-color: #fff;
      color: var(--primary-color);
      font-weight: 500;
      font-size: 16px;
      border: 0;
      border-radius: 4px;
      cursor: pointer;
      min-width: 90px;
      @media (max-width: 480px) {
        display: block;
      }
    }
    button:hover {
      background-color: var(--primary-color);
      transform: scale(1.03);
      transition: all ease-in-out 0.3s;
    }
  }
  .fa-bars {
    color: var(--primary-color);
    font-size: 25px;
    margin: 0 20px 0 20px;
    @media (min-width: 481px) {
      display: none;
    }
  }
  button {
    width: 110px;
    height: 45px;
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    border: 0;
    border-radius: 4px;
    cursor: pointer;
    background-color: var(--primary-color);
    min-width: 90px;
    @media (max-width: 480px) {
      display: none;
    }
  }
  button:hover {
    background-color: var(--primary-color);
    transform: scale(1.03);
    transition: all ease-in-out 0.3s;
  }
}
